.find {
  width: 100%;
}

.find__wrapper {
  margin-top: 178px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;

  @media only screen and (max-width: 1024px) {
    position: none;
  }
}

.heading-two {
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
  color: black;
  margin-bottom: 12px;

  @media only screen and (max-width: 1200px) {
    line-height: normal;
  }
  @media only screen and (max-width: 600px) {
    font-size: 24px;
  }
}
.rectangle-box {
  // width: 100%;
  margin-bottom: 31px;
}

.section-paragraph {
  color: $color-text;
  font-size: 18px;
  line-height: 30px;
}

.section-paragraph--ours {
  margin: auto;

  @media only screen and(max-width:900px) {
    max-width: 500px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 16px;
    max-width: 100%;
  }
}

.blocks-box {
  display: flex;
  flex-direction: row;
  // position: relative;
  z-index: 2;
  flex-wrap: wrap;
  max-width: 1520px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

// .blocks {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   @media only screen and (max-width: 900px) {
//     flex-direction: column;
//     margin: auto;
//   }
// }

.block {
  box-shadow: 10px 40px 50px rgba(178, 181, 189, 0.444);
  border-radius: 20px;
  width: 350px;
  height: 354px;
  background-color: white;
  // margin-top: 80px;
  position: relative;
  transition: all 0.4s ease;
  margin: 0 20px;
  @media only screen and (max-width: 1200px) {
    margin: 10px;
    width: 270px;
    height: 320px;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    height: 100%;
  }
}

.block:hover,
.block:focus {
  transform: translateY(-10px);
  box-shadow: 2px 20px 20px rgba(69, 69, 70, 0.444);
}

.block--2 {
  margin-top: 37px;
  @media only screen and (max-width: 1200px) {
    margin-top: 10px;
  }
}

// .block:not(:last-child) {
//   // margin-right: 35px;
// }

.block__content {
  text-align: left;
  padding-left: 38px;
  @media only screen and (max-width: 1200px) {
    text-align: center;
    padding-left: 0px;
  }
}
.block__img-box {
  margin-top: 55px;
  margin-bottom: 22px;
  max-width: 100%;
  @media only screen and (max-width: 1024px) {
    margin-top: 45px;
  }
}

.block__img {
  @media only screen and (max-width: 600px) {
    width: 20%;
  }
}
.block__heading {
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  margin: 0.6px;
  @media only screen and (max-width: 900px) {
    margin: 10px;
  }
}
.block__p {
  color: $color-text;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 46px;

  @media only screen and (max-width: 900px) {
    max-width: 350px;
    margin: auto;
    display: none;
  }
}

.block__p--tablet {
  display: none;
  @media only screen and (max-width: 900px) {
    display: block;
    color: $color-text;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 26px;
  }
}

.btn-white {
  color: $color-blue;
  background-color: white;
  border-color: $color-blue;
}
.btn-white--section {
  margin: auto;
  margin-top: 70px;
}

.vector-box {
  position: absolute;
  z-index: 1;
  top: 220px;
  max-width: 100%;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
.vector {
  z-index: 1;
  opacity: 0.4;
  width: 100%;
}

.element-box--two {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  top: 547px;
  left: 1261px;
  @media only screen and (max-width: 1400px) {
    display: none;
  }
}
.elements {
  width: 100%;
  z-index: 1;
  opacity: 0.4;
}
